---
import { Renkyu } from "../../lib/renkyu";
import DaySpan from "./DaySpan.astro";
import Chart from "./Chart.astro";

const { year } = Astro.props;
const renkyus = Renkyu.forYear(year);

renkyus.sort((a, b) => a.numOffDaysToBeTaken - b.numOffDaysToBeTaken);
---

<div>
  <div class="divider text-2xl mt-10">{year}年</div>

  {
    renkyus.map((renkyu) => {
      return (
        <div class="mx-3 my-5 card shadow-xl p-3 bg-base-100">
          <div>
            <DaySpan from={renkyu.offFrom} to={renkyu.offTo} /> の
            <strong>{renkyu.numOffDaysToBeTaken}日間</strong> を休むと
          </div>
          <div class="text-right">
            <DaySpan from={renkyu.from} to={renkyu.to} /> の
            <strong>{renkyu.completedConsecutiveHolidays.length}連休</strong>
          </div>
          <Chart renkyu={renkyu} />
        </div>
      );
    })
  }
</div>
